/* .classifyList {
    width: 100%;
    height: 100%;
    background: #fff;
}
.searchBox {
    height: .45rem;
    width: 100%;
}
.search {
    width: 80%;
    height: 100%;
    margin: 0 auto;    
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
/* 放大镜 */
/* .magnifier {
    width: 1.5rem;
    height: .35rem;
}
.searchTxt { */
    /* flex: 1;
    height: .3rem !important;

}  */