.footer{
    overflow-x:hidden;
    position : fixed;
    bottom:0;
    display : flex;
    justify-content: space-around;
    height:.54rem;
    background:#FAFAFA;
    align-items:center;
    width:100%;
    border-top:.01rem #eee solid;
    margin:0;
}
.footer li{
    width:25%;
    height:.54rem;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    font-size:.14rem;
}
.footer li a{
    flex-direction:column;
    display:flex;
    align-items: center;
    color : #FF6F8F;
}
.footer .checked{
    color:#FF6F8F;
}