.header{
    width:100%;
    height:.4rem;
    background:#FB3D44;
    font-size:.16rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.header span{
    color:#FDD6DB;
    display:inline-block;
    margin-right:.1rem;
}
.header i{
    display:inline-block;
    width:.4rem;
    height:.18rem;
    border-radius:.1rem;
    background:#FDE1E7;
    color:#FB3D44;
    line-height:.18rem;
    text-align:center;
    font-size:.12rem;
}